@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
  position: relative;
  background: linear-gradient(to right bottom, #323961, #061038);
  height: 100vh;
}
/*.container {
  position: absolute;
  left: 40%;
  top: 50%;
  background: linear-gradient(to right bottom, #423951, #161028);
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 320px;
  height: 640px;
  border-radius: 20px;
}
*/
.p1 {
  position: relative;
  padding: 20px 20px;
}

.p1 h1 {
  margin: 10px 10px 0 10px;
  font-weight: 400;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.473);
}

.p1 h1 span {
  font-weight: 600;
  font-size: 28px;
  color: white;
}

