<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
{% if user.is_authenticated %}
{% csrf_token %}
<div class="container">
      <div class="p1">
        <h1>
          Welcome to Music Egin, {{ user.username }}
        </h1>
        <div class="open_pg1">
          <h2>what type of songs needed</h2>
        </div>
        <div class="open_pg1_b1">
        <a href="{{ request.scheme }}://{{ request.get_host }}/MUSIC?play=GYM">
		<div class="open_pg1_b1-1">
            <div class="left">
              <p>Fast Beat Songs</p>
              <h2>GYM</h2>
            </div>
            </div>
		</a>	  
           <div class="open_pg1_b2">
          <a href="{{ request.scheme }}://{{ request.get_host }}/MUSIC?play=devotional">
            <div class="open_pg1_b2-1">
              <div class="left">
                <p>Devotional</p>
                <h2>Morning</h2>
              </div>
                          </div>
	  </a>
            <div class="open_pg1_b3">
          <a href="{{ request.scheme }}://{{ request.get_host }}/MUSIC?play=travel">
          <div class="open_pg1_b3-1">
              <div class="left">
                <p>Mixed</p>
                <h2>Travel</h2>
              </div>
            </div>
	  </a>
          </div>
        </div>

        <svg class="back-button"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
        </svg>
      </div>
    </div>
    {% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}
